<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="header">
        <h1>Greeting</h1>
    </div>

    <div class="greet-name">
        <h2>Please enter a name</h2>
    </div>

    <div class="errorMessage">
        <span class="errorOutputMessage">{{errorMess}}</span>
    </div>

    <form class="" action="/greetings" method="post">
        <input class="textName" type="text" name="names" placeholder="enter a name" />
        <span><label for="count">Count:<span>{{counterValue}}</span></label></span>
        <p>Please select a language:</p>
        <input class="radio-btn" type="radio" name="language" value="latin">Latin
        <input class="radio-btn" type="radio" name="language" value="turkish">Turkish
        <input class="radio-btn" type="radio" name="language" value="italian">Italian
        <button class="greet" type="submit" name="button">Greet Me</button>
    </form>

    <div class="message">
        <span class="outputMessage">{{greetingName1}}</span>
    </div>

    <form action="/clearCount" method="post">
        <button class="clear" type="submit" name="button">Clear Count</button>
    </form>

    

    <form class="" action="/greeted" method="post">
        <button class="names" type="submit" name="list-button">Names Greeted</button></a>
    </form>



</body>

</html>