<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="list">
        <h1>List of Names</h1>
    </div>

    <div class="names">
        <table>
            <tr>
                <th>Names</th>
            </tr>
            {{#each userNames}}
            {{!-- <form action="/counter"> --}}
                <tr>
                    {{!-- <td><a href="/counter/{{@key}}">{{@key}}</a></td> --}}
                    <td><a href="/counter/{{username}}">{{username}}</a></td>
                </tr>
            {{!-- </form> --}}

            {{/each}}
        </table>
    </div>

    <form action="/backtogreetings" method="get">
        <button class="backToGreetings" type="submit" name="button">Back to Geetings</button>
    </form>


</body>

</html>